body{
  background-color: #ffffff;
}
.reroute{
    margin: auto;
    background-color: #333;
    padding: 14px 20px;
    color: #FFF;
    text-align: center;
}

h2{
  color: black;
}

.title{
    width: 100%;
    text-align: center;
    color: black;
}
.input{
    color: black;
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: 0 auto;
}
.send {
    align-self: flex-end;
}

.main-menu {
  list-style: none; 
  padding: 0;
  margin: 0;
  background-color: #737ca1;
  display: flex; 
}


.main-menu > li {
  
  position: relative; 
}


.main-menu a {
  display: block;
  padding: 15px 20px;
  color: white;
  text-decoration: none;
}
.submenu{
  background-color: #3b8ada;
}

.main-menu a:hover {
  background-color: #ff69b4; 
}


.submenu,
.sub-submenu {
  display: none;
  list-style: none;
  padding: 0;
  
  
  position: absolute; 
  background-color: #555;
  min-width: 150px;
}


.dropdown:hover > .submenu {
  
  display: block;
  
  
  top: 100%; 
  left: 0;
}

.dropdown-level-2{
    position: hover;
}


.dropdown-level-2:hover > .sub-submenu {
 
  display: block; 
  
  
  top: 0;
  left: 100%; 
}