body{
    background-color: white;
}
.main-menu{
    width: 80%;
    background-color: #737ca1;
    color: white;
    display: block;
    padding: 15px 20px;
    text-decoration: none;
    border: 1px solid #494949;
}

ul{
list-style-type: none;
}
.button-fix button{
color: white;
    display: #737ca1;
    padding: 15px 20px;
    text-decoration: none;
    background-color: #737ca1;
}

h1{
font-size: 36px;
color: black;
}

.main-menu a{
    color: white;
    display: block;
    padding: 15px 20px;
    text-decoration: none;
}
.main-menu ul{
background-color: #737ca1;
}

.standardTemplate{
    border: 1px solid #494949;
    padding: 0;
    
}

.exam{
    padding: 0;
    border: 1px solid #494949;

}

.practiceAssignment{
  
    padding: 0;
    border: 1px solid #494949;
}

h2{
    color: white;
}
.response{
    color: white;
}

.submenu {
  display: none;
  position: absolute;
border: 1px solid #494949;
    padding: 0;
    text-decoration: none;
  }

.submenu.show {
  display: block;
}
