<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Homepage</title>
        <link rel="stylesheet" type="text/css" href="homepageLooks.css">
    </head>
    <body>
        <div class="reroute">
            <a href="userInput"> HereYouGoCutiePatootie</a>
        </div>

        <div class="fifth">
            <label for="fifthGrade">Fifth Grade</label>
            <select name="fifthGrade" id = "fifthGrade">
                <optgroup label="math">
                    <option value="algebra">Goblin it</option>
                    <option value="fractions">Swallowin it</option>
                </optgroup>
            </select>
        </div>
        
    </body>
</html>
