
body{
    background-color: #444;
    color: #BBB;
}
.title{
    width: 100%;
    text-align: center;
}
.input{
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: 0 auto;
}
.send {
    align-self: flex-end;
}